---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: alertmanager
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: alertmanager
      targetRevision: 1.14.*
      helm:
        valueFiles:
          - $values/values/alertmanager.yaml
    - repoURL: https://github.com/YOUR_ORG/monitoring.git
      targetRevision: HEAD
      ref: values
